/*Background image*/
body {
    background-image: url(images/background\ image);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
/*TEXT STYLES*/
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    color: #FFFF;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    text-align: center;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 26px;
    color: #FFFF;
    text-align: center;
}
h3 {
  font-weight: normal;
  margin-top: 26px;    
  margin-bottom: 0%;
  width: 90%;
  padding: 20px;
  color: #FFFF;
  clear: both;
}
p {
    font-size: 16px;
    color: #FFFF;
    width: 90%;
    margin-top: 0%;
    padding: 20px;
    clear: both;
}
ul {
  margin-left: 114px;
  margin-right: 114px;
  color: #FFFF;
  background-color: #23395d;
}

/*HEADER SECTION STYLES*/
h1{
  border-bottom: 5px solid #FFFF;
}

/*MENU SECTION STYLES*/
.gallery {
  display: flex;          
  flex-wrap: wrap;        
  gap: 20px;              
  justify-content: center; 
}

.container {
  position: relative;
  width: 300px;          
}

.image {
  opacity: 1;
  display: block;
  width: 300px;
  height: 300px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #0B0B45;
  color: white;
  font-size: 25px;
  padding: 16px, 32px;
}

/*MAIN SECTION*/
#main h3{
  font-size: 25px;
  background-color: #0A2472;
  text-align: left;
  width: 80%;
}
#main p{
  font-size: 18px;
  background-color: #23395d;
  width: 80%;
}
#main ul {
  font-size: 18px;
  width: 80%;
}
#main #container{
  display: grid;
  place-items: center;
}
/*FOOTER SECTION*/
#footer{
  background-color: #00072D;
  text-align: left;
  clear: both; /*MAKES THE FOOTER ALWAYS SIT UNDERNEATH MENU AND IMAGE*/
  width: 100%;
  padding: 20px;
  text-align: left;
}

/*LINK STYLES*/
a:link, a:visited{
  color: #FFFF;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
  text-align: left;
}
a:hover, a:active{
  color: #FFF200;
  text-decoration: underline;
  text-align: left;
}
